$header-big: 4rem;
$size-big: 2rem;
$size-normal: 1.5rem;
$size-small: 1.2rem;
$size-very-small: 1rem;
$size-table-mobile: .7rem;

$section-height: 90vh;
$height-header-footer: 10vh;

$color-black: #232134;
$color-grey-100: #F5F5F6;
$color-grey-600: #7B7C88;
$color-blue: #4CF5F2;
$color-text-shadow: #F54C4F;

$shadow-blue: 0 0 5px $color-blue, 0 0 10px $color-blue, 0 0 20px $color-blue;

$font-weight-bold: 500;
$font-weight-medium: 400;
$font-weight-normal: 300;


$border-line: 3px solid $color-blue;