@use '@/scss/' as *;

.message_form {
  width: 70%;
  margin: 0 auto;

  @media (max-width: 900px) {
    width: 80%;
  }

  @media (max-width: 800px) {
    width: 90%;
    @media (orientation: landscape) {
      display: grid;
      grid-template-areas: 'a b'
                           'c c'
                           'd d';
      column-gap: 10px;
    }
  }
}
.message_button_wrapper {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  @media (max-width: 900px) {
    margin-top: 15px;
  }
  @media (max-width: 800px) {
    @media (orientation: landscape) {
      grid-area: d;
    }
  }
  @media (max-width: 710px) {
    margin-top: 0;
  }
}
.message_form_button {
  @include button;
}