@use '@/scss/' as *;

.table_contacts {
  border-collapse: collapse;
  margin: 0 auto;
  width: 70%;
  @media (max-width: 900px) {
    width: 80%;
  }

  @media (max-width: 800px) {
    width: 90%;
  }
}

.table_body {
  @media (max-width: 710px) {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    @media (orientation: landscape) {
      display: block;
    }
  }
}

.table_row_headers {
  border-bottom: 2px solid $color-grey-100;
  th {
    @include text-shadowed;
    font-size: $size-small;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    @media (max-width: 800px) {
      @media (orientation: landscape) {
        font-size: $size-table-mobile;
      }
    }
    @media (max-width: 710px) {
      text-align: start;
      font-size: $size-table-mobile;
    }
  }

  @media (max-width: 710px) {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    border-right: 2px solid $color-grey-100;
    border-bottom: none;
    @media (orientation: landscape) {
      grid-template: 1fr / repeat(5, 1fr);
      border-right: none;
      border-bottom: 2px solid $color-grey-100;
    }
  }
}

.table_row_info {
  td {
    text-align: center;
    a {
      text-decoration: none;
      @include text-regular;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $color-blue;
          text-shadow: 0 0 5px $color-blue, 0 0 10px $color-blue, 0 0 20px $color-blue;
        }
      }
    }
  }
  @media (max-width: 800px) {
    @media (orientation: landscape) {
      font-size: $size-table-mobile;
    }
  }
  @media (max-width: 710px) {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    td {
      text-align: start;
      padding-left: 20px;
      font-size: $size-table-mobile;
      @media (orientation: landscape) {
        padding-left: 0;
      }
    }
    @media (orientation: landscape) {
      grid-template: 1fr / repeat(5, 1fr);
    }
  }
}